footer{
    background-color: #0f8b8d85;
    color: #eae1e1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    bottom: 0px;
    padding: 20px;
}